# Node.js
node_modules/
dist/
build/
.npm
.eslintcache

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
ENV/
env/
.pytest_cache/

# Databases
*.db
*.sqlite3

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project Specific
Frontend/dist/
Frontend/node_modules/
Backend/__pycache__/
Backend/.env
